C++/LibEventDemo/.vs
C++/LibEventDemo/Debug/
C++/LibEventDemo/x64
C++/LibEventDemo/LibEventDemo.VC.db
C++/LibEventDemo/LibEventDemo.VC.VC.opendb
C++/LibEventDemo/LibEventDemo/Debug/
C++/LibEventDemo/LibEventDemo/x64